@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #050505; /* Noir profond comme ton design */
}

#root {
  width: 100%;
}